*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to left, black, rgb(25, 19, 73));
    font: normal 30px arial;
    color: aliceblue;
    text-align: center;
}
h2{
    background-image: linear-gradient(to top, rgb(53, 160, 222),rgb(163, 202, 236));
}
main{

    margin: auto;
    max-width: 700px;
    min-height: 500px;
    background-color: brown;
    border-radius: 15px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .555);
}
main>#resultado{
    background-color: blue;
}
main>section>table>th{

    padding: 10px;
}
table,th,td{
    margin: auto;
    text-align: center;
    border: 1px solid;
}